# Environments
.vscode
.env
.venv
env/
venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Local Project:
*.log
*.json
baseapp/local_settings.py
static/
scripts

# Byte-compiled / Cache / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# System General
.DS_Store
db_schema.txt
config.py
.scannerwork


# Only for Development only
**/migrations/**
!**/migrations
!**/migrations/__init__.py
